/* General containers/elements */
body {
    border-top: 5px solid #000;
    color: #222;
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 1.25em;
    margin: 0;
}
fieldset {
    border: 0;
    padding: 0;
}
#wrap {
    padding-top: 0;
}
h1 {
    font-size: 3em;
    margin-top: 60px;
    text-align: center;
}
.user_in h1 {
    margin-top: 30px;
}
[type="submit"] {
    background: #000;
    border: 3px solid #000;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
}

[type="submit"]:hover,
[type="submit"]:focus {
    background: #fff;
    color: #000;
}
#usergroups h1,
#showstream h1,
#subscriptions h1,
#subscribers h1 {
    margin-top: 2em;
}
#core,
#footer {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 20px;
}
a {
    transition: all 0.2s ease 0s;
}
#content a,
#footer a {
    color: #0097BB;
    text-decoration: none;
}
#content a:hover,
#content a:focus,
#footer a:hover,
#footer a:focus {
    text-decoration: underline;
}
.threaded-replies .attachments .inline-attachment {
    margin-top: 10px;
}
.inline-attachment .u-photo {
    max-width: 100%;
}

/* Sprites */
label.notice_data-geo,
label.notice_data-attach,
button.close,
.notice-options .submit,
.notice_reply,
.notice_delete,
#realtime_play,
#realtime_pause,
#realtime_popup,
#pagination .nav_next a,
#pagination .nav_prev a {
    background: url(../images/icons/icons-01.gif) no-repeat;
}

/* Realtime Plugin */
#realtime_play {
    background-position: 0 -2308px;
}
#realtime_pause {
    background-position: 0 -2374px;
}
#realtime_popup {
    background-position: 0 -1714px;
}

/* Pagination */
#pagination {
    list-style-type: none;
    overflow: hidden;
}
#pagination .nav_next {
    float: right;
}
#pagination .nav_next a {
    background-position: 115% -256px;
    padding: 6px 25px 0 0;
}
#pagination .nav_prev {
    float: left;
}
#pagination .nav_prev a {
    background-position: 0 -190px;
    padding: 6px 0 0 25px;
}

/* EmbedNotice Plugin */
a.embed {
    background: url(../images/icons/embed.gif) no-repeat;
    float: right;
    opacity: 1;
    text-indent: -9999px;
    width: 16px;
}

/* Bookmark Notice */
.bookmark h3 {
    margin-bottom: 0;
}
.bookmark-tags a:after {
    content: ", ";
    color: #000;
}
.bookmark-tags li:last-child a:after {
    content: "";
}

.location abbr, .timestamp abbr {
    border-bottom: 0;
}

/* Avatars */
.avatar {
    border-radius: 50%;
    left: 0;
    position: static;
    vertical-align: middle;
}

/* Notices */
.entry-title {
    max-width: 640px;
}
.notices {
    clear: both;
    list-style-type: none;
    padding: 0;
}
.notice {
    border-bottom: 1px solid #DDD;
    padding: 40px 0;
    padding-left: 70px;
    position: relative;
}
#content .notice-headers > .h-card {
    margin-left: -65px;
}
#content .notice-headers > .h-card .avatar {
    margin-right: 10px;
}
#content .notice .entry-title {
    margin: 2px 7px 0 59px;
    min-height: 35px;
}
.notice div.entry-content {
    clear: both;
    font-size: 0.88em;
    float: left;
    line-height: 1.2em;
    margin: 6px 0 0 59px;
}
.notice .addressees:before {
    content: "▸";
}
.addressees, .addressees > li {
    display: inline;
    padding: 0;
}
.threaded-replies {
    overflow: hidden;
}
.threaded-replies li:first-child {
    margin-top: 40px;
}
.threaded-replies li:last-child {
    border: 0;
    padding-bottom: 0;
}
.notice footer {
    font-size: 75%;
    margin-top: 20px;
}
.notice footer .attachments-title {
    margin-bottom: 0;
}
.notice .threaded-replies .notice-faves,
.notice .threaded-replies .notice-repeats {
    font-size: 75%;
    margin: 10px 0 10px 0;
    padding-left: 17px;
}
.notice .threaded-replies .notice-faves {
    background: url("../images/icons/faved.gif") 2px center no-repeat;
}
.notice .threaded-replies .notice-repeats {
    background: url("../images/icons/repeated.gif") left center no-repeat;
}

/* Notice Options */
.notice_delete {
    background-position: 0 -658px;
}
.notice_reply {
    background-position:0 -592px;
}
.notice_reply, .notice_delete, .embed {
    outline: 0;
}
.notice-options {
    float: right;
    margin-top: 12px;
    margin-right: -6px;
    margin-bottom: 10px;
}
.notice-options a {
    text-indent: -9999px;
}
.notice-options form, .notice-options a, .notice-options .repeated {
    display: block;
    float: left;
    height: 16px;
    margin-right: 10px;
    width: 16px;
}
.form_favor .submit {
    background-position: 0 -460px;
}
.form_disfavor .submit {
    background-position: 0 -526px;
}
.form_repeat.processing {
    background-image: none;
}
.form_repeat .submit {
    background-position: 0 -1582px;
}
.notice-options .repeated {
    background-image: url(../images/icons/icons-01.gif);
    background-position: 0 -1648px;
    font-size: 0;
}
label.notice_data-geo, label.notice_data-attach, .notice-options .submit, button.close {
    border: 0;
    cursor: pointer;
    display: block;
    height: 16px;
    text-indent: -9999px;
    width: 16px;
}

/* Forms (post a notice, bookmark, etc.) */
.input_forms {
    text-align: center;
}
.input_forms .input_form {
    text-align: left;
}
#showstream .input_form,
#subscriptions .input_form,
#subscribers .input_form {
    margin: 6em 0 -4em 0;
}
#input_form_nav {
    background: #EEE;
    border: 1px solid #AAB8C6;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 12px;
}
#input_form_nav li {
    float: left;
    margin-right: 10px;
}
#input_form_nav li:last-child {
    margin: 0;
}

#footer {
    border-top: 2px solid #000;
    font-size: 50%;
    margin-top: 30px;
    padding-top: 30px;
}

/* Hide all the things o/! */
#attachment #content h1,                /* Attachment hash; it's super long... */
#conversation #aside_primary,
#replies #aside_primary,
#noticesearch .input_forms,
#noticesearch #aside_primary,
#conversationreplies #aside_primary,
.form_guide,
.system_notice,
#all #aside_primary,
#showstream .notice .author,
.profile_block h2,
.profile_block .entity_actions li,
.profile_block_location,
.profile_block_homepage,
.profile_block_description,
.user_profile_tags,
#input_form_placeholder,
legend,
#notices_primary h2,
#site_nav_global_secondary,
#export_data,
#tagcloud,
#aside_primary .section,
#site_nav_local_views,
.nav #nav_login,
#site_contact,
#header-search,
.input_form,
.notice_data-attach,
[name='notice_data-geo'],
.profile_block_otherprofile_list {
    display: none;
}
/* Go away, I mean it! */
.notice-reply-placeholder {
    display: none !important;
}

.attachments,
.attach-status {
    list-style-type: none;
    padding-left: 0;
}

.form-notice .submit {
    position: relative;
    top: 10px;
}

/* Okay, display _some_ of the things... */
#aside_primary .profile_block,
.profile_block li.entity_subscribe,
.input_form.current {
    display: block;
}

/* Top Navigation */
#site_nav_global_primary {
    text-align: center;
}
#site_nav_global_primary ul {
    background-color: #000;
    border-radius: 0 0 10px 10px;
    display: inline-block;
    float: none;
    margin: 0;
    padding: 4px 20px;
    vertical-align: top;
}
#site_nav_global_primary li {
    display: block;
    float: left;
    list-style-type: none;
    text-align: center;
}
#site_nav_global_primary a {
    border-radius: 4px;
    color: #FFF;
    display: block;
    padding: 6px 10px;
    text-decoration: none;
}
#site_nav_global_primary a:hover,
#site_nav_global_primary a:focus,
#site_nav_global_primary a:active {
    background-color: #1A1A1A;
    box-shadow: 0 0 1px #FFF inset;
}

/* Profile block */
.profile_block_name {
    margin: 0;
}
.profile_block_name a {
    display: block;
    height: 96px;
    left: 0;
    margin: 0;
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 96px;
}

#notice_data-text-label, .notice_data-text {
    display: block;
}

.notice_data-text {
    margin-bottom: 12px;
    width: 100%;
}

.to-selector, .notice_data-geo_wrap {
    float: left;
}

.to-selector, .geo_status_wrapper {
    margin-top: 10px;
}

.geo_status {
    float: left;
    margin-top: 3px;
}

.form_settings .form_data, .input_form .form_data {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button.close {
    background-position: 0 -1120px;
    border: 0;
    display: inline;
    float: none !important;
    margin-left: 10px;
}

.checkbox-wrapper.unchecked label.checkbox {
    background: url(../images/icons/lock_open.png) 0 3px no-repeat;
    padding-left: 20px;
}

.checkbox-wrapper.checked label.checkbox {
    background-image: url(../images/icons/lock.png);
}

.input_forms .input_form {
    border-bottom: 1px solid #ddd;
    padding-bottom: 12px;
}
.input_forms .submit {
    margin-top: 70px;
}
label.notice_data-attach {
    background-position: 0 -328px;
    float: left;
    margin-right: 10px;
}

label.notice_data-geo.checked {
    background-position: 0 -1846px;
}

label.notice_data-geo {
    background-position: 0 -1780px;
}

/* Character counter */
.count {
    color: #999;
    float: right;
    font-size: small;
    position: relative;
    right: 10px;
    top: -28px;
}

.form-notice .submit {
    clear: both;
    display: block;

}

.to-selector {
    margin-top: 35px;
    position: absolute;
}

.to-selector select {
    width: 90%;
}

/* "Attach a file" thumbnail preview  */
.attach-status {
    margin-top: 12px;
}
.attach-status code {
    display: block;
    float: left;
    margin-top: 7px;
}
.attach-status img {
    display: block;
    margin-top: 5px;
}

/* Parentheses around "in context" */
.response:before {
    color: #000;
    content: "(";
}
.response:after {
    color: #000;
    content: ")";
}

/* Notice likes and "See all replies" */
.notice-faves, .notice-reply-comments {
    margin-left: 19px;
    margin-bottom: 12px;
}
.notices .notices .notice {
    border-bottom: 0;
    border-top: 1px solid #DDD;
}

.entity_subscribe {
    list-style-type: none;
}

.notice div.notice-faves, .notice div.thumbnails {
    float: none;
}

#showstream .notice .entry-content, #showstream .notice .entry-title {
    margin-left: 0;
}

#aside_primary {
    left: 50%;
    margin-left: -43px;
    position: absolute;
    text-align: center;
    top: 3.3em;
}

.ur_face {
    border-radius: 52%;
}

.user_in #aside_primary {
    top: 6em;
}

.profile_block .entity_actions ul {
    margin: 0;
    padding: 0;
}

.profile_block .entity_actions .entity_remote_subscribe {
    background: url(../images/icons/subscribe.png) no-repeat;
    display: inline-block;
    height: 34px;
    outline: 0;
    left: 120px;
    position: absolute;
    text-indent: -9999px;
    top: 31px;
    width: 34px;
}

#form_ostatus_connect {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#form_ostatus_connect fieldset {
    background: #FFF;
    display: inline-block;
    margin-top: 8.5em;
    padding: 8px;
}

#form_ostatus_connect .close {
    position: relative;
    right: 40px;
}

#form_ostatus_connect .form_data li {
    display: list-item;
    list-style-type: none;
}
/* Profiles (subscriptions, subscribers) */
.groups,
.groups .entity_actions ul,
.profile_list,
.profile_list .entity_actions ul {
    list-style-type: none;
    padding: 0;
}
.groups .entity_actions,
.profile_list .entity_actions {
    margin-left: 60px;
}
.profile {
    border-bottom: 1px solid #DDD;
    padding: 40px 0;
}
.profile .entity_actions {
    overflow: hidden;
}
.profile .url {
    display: block;
}
.profile .url[rel*="contact"] {
    display: inline;
}
.profile .avatar {
    float: left;
    margin-right: 10px;
}
.profile .fn:before {
    content: "(";
}
.profile .fn:after {
    content: ")";
}
.profile .label, .profile .fn {
    margin-left: 10px;
}
.profile .note {
    margin-left: 60px;
}

/* Remote subscribe */
.entity_remote_subscribe {
    background: url(../images/icons/subscribe.png) no-repeat;
    display: inline-block;
    line-height: 34px;
    min-height: 34px;
    padding-left: 45px;
}

/* Subscribe, unsubscribe, block buttons */
.form_user_unsubscribe, .form_user_subscribe {
    float: left;
    min-width: 185px;
}
.form_user_unsubscribe .submit, .form_user_block .submit, .entity_subscribe .submit {
    background: url(../images/icons/subscribe.png) no-repeat;
    border: 0;
    color: #0097BB;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    min-height: 34px;
    padding-left: 45px;
}
.form_user_unsubscribe .submit:hover, .form_user_block .submit:hover, .entity_subscribe .submit:hover {
    text-decoration: underline;
}
.form_user_block .submit {
    background-image: url(../images/icons/block.png);
}
.form_group_leave .submit, .form_user_unsubscribe .submit {
    background-image: url(../images/icons/unsubscribe.png);
}
.entity_actions {
    clear: left;
}

/* Bookmark, event, poll, question forms */
#input_form_bookmark .submit,
#input_form_question .submit,
#input_form_event .submit,
#input_form_poll .submit {
    margin-top: 12px;
}
#input_form_bookmark .form_data li,
#input_form_question .form_data li,
#input_form_poll .form_data li,
#input_form_event .form_data li {
    margin-bottom: 12px;
    position: relative;
}
#input_form_bookmark .form_data label,
#input_form_question .form_data label,
#input_form_poll .form_data label,
#input_form_event .form_data label {
    color: #999;
    float: left;
    font-size: 0.8em;
    position: absolute;
    left: 5px;
    top: 5px;
}
#input_form_event label[for="event-starttime"],
#input_form_event label[for="event-endtime"] {
    color: #000;
    margin-right: 10px;
    margin-top: 5px;
    position: static;
}

/* Settings page */
#form_settings_profile li {
    margin-bottom: 12px;
}
#form_settings_profile label {
    display: block;
}
#form_settings_profile label.checkbox {
    display: inline;
}
#form_settings_profile input.checkbox {
    margin: 0;
}

/* CSS for new microformat2 */
.bookmark .entry-title .entry-content,
.notice .entry-title .entry-content {
    float: none;
    margin: 0;
}

.p-name.metadata {
    display: none;
}

.e-content {
    margin-top: 8px;
}

.notice-headers > .u-uid {
    display: none;
}

#showgroup h1 {
    margin-top: 120px;
}

/* top nav */
.nav {
    font-size: 0.875rem;
    text-transform: uppercase;
}

[for="input_form_nav"] {
    display: none;
}

.bookmark .entry-title {
    margin-left: 0;
}

.parents {
    display: inline;
}

.oembed {
    overflow: hidden;
}
.oembed .error {
    display: none;
}
.notice_data-text {
    padding: 8px;
}

#form_login input {
    display: block;
    margin-bottom: 15px;
}

#form_login [type="checkbox"] {
    display: inline-block;
    margin: 0;
}

#form_login .submit {
    margin-top: 15px;
}

/**
 * Markdown plugin compatibility
 */
.input_form .notice_data-markdown_wrap label {
    float: left;
    margin-right: 10px;
    position: static;
}
.input_form .notice_data-markdown_wrap input {
    display: none;
}
.notice_data-geo_wrap {
    margin-right: 10px;
}
.notice_data-markdown_wrap {
    overflow: hidden;
}
.notice_data-markdown_wrap .notice_data-markdown {
    background-image: url("../images/markdown-disabled.png");
}
.form_notice .notice_data-markdown_wrap .checkbox:checked + .notice_data-markdown {
    background-image: url("../images/markdown-enabled.png");
}
.notice code {
    background-color: #f9f2f4;
    border-radius: 4px;
    color: #c7254e;
    padding: 2px 4px;
}

/**
 * Notice Preview plugin compatibility
 */
.chr-notice-preview-container #notice_to {
    width: 100%;
}
.chr-notice-preview-container .to-selector,
.chr-notice-preview-container .notice_data-geo_wrap,
.chr-notice-preview-container label.notice_data-attach {
    float: none;
}
.chr-notice-preview-container .to-selector {
    margin: 0;
    position: static;
}
.chr-notice-preview-container .notice_data-geo_wrap,
.chr-notice-preview-container label.notice_data-attach {
    margin: 0;
    position: absolute;
    bottom: -10px;
}
#input_form_status_enhanced {
    margin-top: 25px;
}
#input_form_status_enhanced #notice_action-submit {
    float: none;
    margin-left: 30px;
    position: static;
}
.chr-notice-preview-container label.notice_data-attach {
    right: 30px;
}
.chr-notice-preview-container .notice_data-geo_wrap {
    right: 60px;
}
#chr-notice-compose {
    position: relative;
}

@media (max-width: 48em) {
    h1 {
        margin-top: 30px;
    }

    #site_nav_global_primary .nav {
        border-radius: 0;
        display: block;
        padding: 0;
    }

    #site_nav_global_primary .nav li {
        float: none;
    }

    #site_nav_global_primary a {
        border-radius: 0;
    }

    .to-selector label {
        display: block;
        margin-bottom: 10px;
    }

    .input_forms .submit {
        margin-top: 100px;
    }
}

